<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div>
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class = "text", id = "projectdiv">
    <div>
      <%= form.label :project_title %>
      <%= form.text_field :project_title, class: "form-control", placeholder: "enter project title here"  %>
    </div>

    <div>
      <%= form.label :project_description%>
      <%= form.text_area :project_description, class: "form-control", placeholder: "enter project description here" %>
    </div>

    <div>
      <%= form.number_field :user_id, id: :project_user_id, class:  "form-control", value: current_user.id, type: :hidden  %>
    </div>

  </div>

  <div>

    <%= form.submit class: "btn btn-dark" %>

  </div>
<% end %>
