<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <div>
  <br>
    <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-outline-secondary" %> |
    <%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary" %>
  </div>
  <div>
  <br>
    <%= button_to "Delete project", @project, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
